.super-mario {
  width: 200px;
  position: absolute;
}

.goomba {
  width: 100px;
  position: absolute;
  z-index: 1;
  margin-top: 258px;
  margin-left: 100px;
}

.baloon {
  position: absolute;
  left: 220px;
  top: 190px;
}

.speach {
  font-size: 25px;
  position: absolute;
  left: 250px;
  top: 220px;
  z-index: 2;
}

.bowser {
  width: 200px;
  position: absolute;
  left: 500px;
  top: 300px;
}
