ol {
  background-color: yellow;
}

ol li:nth-child(odd) /*elementos impares*/ {
  text-transform: uppercase;
}

ol li:nth-child(even)/*elementos pares*/ {
  color: green;
}

h1,
h3 {
  color: red;
}

h1 em,
h3 em {
  font-size: 40px;
  border: 1px solid;
}

li {
  font-size: 20px;
}

li em {
  font-weight: bold;
}

ul:first-of-type li:nth-child(-n+3)/*3 primeiros*/ {
  color: blue;
}

.pink{
    background-color: pink;
}

ul:last-of-type li:hover {
  font-weight: bold;
}

ul:last-of-type li:first-child a:hover {
  color: orange;
}

ul:last-of-type li:nth-child(2) a:hover {
  color: lightgreen;
}

ul:last-of-type li:nth-child(3) a:hover {
  color: black;
}

ul:last-of-type li:nth-child(4) a:hover {
  color: yellow;
}

ul:last-of-type li:last-of-type a:hover {
  color: darkgreen;
}
