div:hover {
    border-width: 3px;/* faz a borda ficar vísivel*/
    border-style: dotted;
    border-color: blueviolet;
}

div:first-of-type{
    background-color: pink;
}
div:last-of-type {
    background-color: cornflowerblue ;
}

div:nth-of-type(2){
    background-color: green;
}

div:nth-of-type(3){
    background-color: red;
}

div:nth-of-type(4){
    background-color: darkorchid;
}

div:first-of-type h3:hover{
    color: crimson;
}
div:last-of-type h3:active{
   font-size: 35px ;
}

div:nth-of-type(2) h3{
    color: gray ;
}

div:nth-of-type(3) h3:hover{
    background-color: darkgreen;
    height: 200px;
}

div:nth-of-type(4) h3{
    color: aliceblue;
}

div:nth-child(2n+1) h3{
    font-style: italic;
    text-decoration: underline;
}
